

.menu-s2.main-menu nav ul li.active a:before{
	color:#2ed573;
}
.menu-s2.main-menu nav ul li a:hover{
    color: #2ed573; 
}
.menu-s2.main-menu nav ul li a:hover:before {
    color: #2ed573; 
}
.hb-s2-right li a:hover, .hb-s2-right li a.active {
    background-color: #2ed573;
}
.slider-content h2 span {
    color: #2ed573;
}
.slider-content a{
	background: #2ed573;
}
.section-title-s2 h2{
	color: #2ed573;
}
.abt2-content a:hover {
    
    background: #2ed573;
}
ul.cs-meta-stats li i {
    color: #2ed573;
}
.commn-carousel .owl-dots .active {
    background: #2ed573;
}
.cs-price{
	background: #2ed573;
}
.cs-prices{
	background: #2ed573;
}
.tst-content .section-title span {
    color: #2ed573;
}
.tst-carousel .owl-dots .active {
    background: #2ed573;
    border-color: #2ed573;
}
.tch-content span{
	color: #2ed573;
}
.tch-content span{
	color: #2ed573;
}
.blog-content h2 a:hover{
	color: #2ed573;
}
.blog-content span{
	color: #2ed573;
}
.fwidget-title{
	color: #2ed573;
}
.address h2{
	color: #2ed573;
}
.twitter-post a{
	color: #2ed573;
}
span.post-date i {
    color: #2ed573;
}
.footer-bottom p span {
    color: #2ed573;
}

/*courses*/
.crumb-content h4 span {
    color: #2ed573;
}
.cs-dts .btn{
	background:#2ed573;
}
.wd-offer a{
	background:#2ed573;
}
.w-cs-single span{
	color: #2ed573;
}
.subscribe form button{
	background: #2ed573;
}
.cs-cmnt-meta ul li{
	color: #2ed573;
}
.cs-cmnt-meta>a{
	color: #2ed573;
}
.leave-comment-area form button{
	background: #2ed573;
}

/*about*/
.section-title h3 span{
	color: #2ed573;
}
.abt-left-content a{
	background: #2ed573;
}
.section-title h2 span{
	color: #2ed573;
}